.controls {
    display: flex;
    background-color: white;
}

.controls > div {
    border: 1px solid red;
    flex-direction: row;
    width: 33%;
    padding: 10px;
}

button {
    background-color: #555;
    border: 1px solid #555;
    color: white;
    width: 50%;
    padding: 28px 36px;
}

button:hover {
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
}

input {
    width: 100%;
    padding: 28px 36px;
    box-sizing: border-box;
}

select {
    color: black;
    width: 100%;
    padding: 28px 36px;
}
option {
    color: black;
}

.neutralcontrol {
    display: flex;
}

.neutralcontrol > button {
    width: 30%;
    padding: 12px 20px;
}

#btnReset:hover {
    color: white;
    background-color: #f44336;
}
