<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="css/homestyle.css" rel="stylesheet">
    <link type="text/css" href="../public/css/homestyle.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="img/none.png">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="img/none.png" width="75px" height="75px" alt="eightball" id="logo">
        </div>
        <a href="scorebug.html">Start New Match</a>
        <a href="cams.html" target="_blank">View Previous Scores</a>
        <a href="">FAQ</a>
        <a href="">Contact</a>
    </div>
    <div class="main">
        <!-- START LEFT MAIN -->
        <div class="left-main">
            <div class="aboutus">
                <div class="aboutusblurb">
                <h1>What is smartpool?</h1>
                <hr>
                    <p>SmartPool is a platform developed by RJ Fredrick Rico, a college student majoring in software development and a passionate pool enthusiast. The site was created with the goal of tracking pool game statistics and data, while aiming to provide accessibility across pool halls in the Pacific Northwest. Once fully developed, SmartPool will be available for free to all users, with appropriate credit attributed to RJ Fredrick Rico. For any inquiries related to the use of SmartPool or its content, please feel free to reach out directly to RJ.</p>
                </div>
                <div class="aboutusvideo">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/z99qLbDy_3w?si=gG7EEjK4RTeEPJ_w&amp;start=2304" allow='autoplay' title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- END LEFT MAIN -->
        <!-- START RIGHT MAIN -->
        <div class="right-main">
            <div class="match-log">
                <div class="match-log-header"><h1>Recent Matches</h1></div>
                <div class="match-log-legend">
                    <div id="match-log-video-key"><p>Video</p></div>
                    <div id="match-log-date-key"><p>Date</p></div>
                    <div id="match-log-players-key"><p>Players</p></div>
                </div>
                <div class="match-log-entries">
                    <div class="match-log-entry">
                        <div class="match-log-entry-video">
                            <a href="https://www.youtube.com/watch?v=z99qLbDy_3w"><img src="img/poolhall.png" width="100%" height="80%" alt="thumbnail"></a>
                        </div>
                        <div class="match-log-entry-date">
                            <p>02.13<br>2025</p>
                        </div>
                        <div class="match-log-entry-players">
                            <div class="match-log-entry-player">
                                <div class="match-log-entry-player-name"><p>RJ Fredrick Rico</p></div>
                                <div class="match-log-entry-player-score"><p>13</p></div>
                            </div>
                            <div class="match-log-entry-player">
                                <div class="match-log-entry-player-name"><p>Nolan Dela Rosa</p></div>
                                <div class="match-log-entry-player-score"><p>6</p> </div>
                            </div>
                        </div>
                    </div>
                    <div class="match-log-entry">
                        <div class="match-log-entry-video">
                            <img src="img/poolhall.png" width="100%" height="80%" alt="thumbnail">
                        </div>
                        <div class="match-log-entry-date">
                            <p>04.13<br>2022</p>
                        </div>
                        <div class="match-log-entry-players">
                            <div class="match-log-entry-player">
                                <div class="match-log-entry-player-name"><p>Korin An-Seong</p></div>
                                <div class="match-log-entry-player-score"><p>3</p></div>
                            </div>
                            <div class="match-log-entry-player">
                                <div class="match-log-entry-player-name"><p>Jirou Usawa</p></div>
                                <div class="match-log-entry-player-score"><p>9</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END RIGHT MAIN -->
    </div>
</body>
</html>
